# 주석

1. 기능에 대한 설명
2. 작업을 하다가 일시 중단
3. 에러 메시지가 있어서 에러 수정
4. 상대방이 나의 코드를 알아볼수 있도록 도움

In [ ]:
# 이 부분은 주석입니다. 한줄 주석
print("Hello world") # 이 부분은 주석입니다. 한줄 주석

Hello world

In [ ]:
'''
이것은
여러줄에 걸친
주석입니다.
'''
print("Hello world")

Hello world

In [ ]:
"""
이것은
여러줄에 걸친
주석입니다.
"""
print("Hello world")

Hello world

# 출력 print

파이선 3.6부터 나온 문법 f string

In [ ]:
name = "Alice"  # 문자를 입력할때는 무조건 "" 또는 ''입력하셔야합니다.
age = 30  # 숫자는 상관없습니다.

# f-string 사용
print(f"이름: {name}, 나이: {age}") #출력시에는 문자열의 따옴표는 없어집니다.

이름: Alice, 나이: 30

# 변수

- 정수형 변수 x에 10을 할당하세요.
- 문자열 변수 name에 "John"을 할당하세요.
- 실수형 변수 pi에 3.14를 할당하세요.

In [ ]:
x = 10
name = "John"
pi = 3.14

In [ ]:
print(f"제 나이는 {x} 입니다., 이름은 {name} 입니다. , 파이는 {pi} 입니다.")

제 나이는 10 입니다., 이름은 John 입니다. , 파이는 3.14 입니다.

- 변수 x에 5를 더한 값을 다시 x에 할당하세요.
- 변수 name에 " Doe"을 붙인 값을 다시 name에 할당하세요.
- 변수 pi에 2를 곱한 값을 다시 pi에 할당하세요.

In [ ]:
x = x + 5
name = name + "Doe"
pi = pi * 2

In [ ]:
print(f"제 나이는 {x} 입니다., 이름 은 {name} 입니다. , 파이는 {pi} 입니다.")

제 나이는 15 입니다., "이름"은 JohnDoe 입니다. , 파이는 6.28 입니다.

# 자료형

In [ ]:
a = True
b = False
c = "True"
d = "False"

In [ ]:
print(a, b, c, d)

True False True False

In [ ]:
# 어떤 자료형이냐? Type를 사용하면 된다.
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'bool'>
<class 'bool'>
<class 'str'>
<class 'str'>

In [ ]:
ab = a + b

In [ ]:
print(ab)

1

In [ ]:
num_str = "10"
print(num_str)
print(type(num_str))
num_int = int(num_str)
print(num_int)
print(type(num_int))

num_flo = float(num_int)
print(num_flo)
print(type(num_flo))

10
<class 'str'>
10
<class 'int'>
10.0
<class 'float'>